body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1{ 
    text-align: left;
    margin-left: 1rem;
    font-size: 3rem;
    font-family: 'Libre Caslon Text', serif;
}
#Howdid {
    text-align: left;
    color: white;
    font-family: 'Libre Caslon Text', serif;
}

#JonyIves {
    color: blue;
    text-align: left;
    font-family: 'Libre Caslon Text', serif;
}

#Thefieldof {
    color: white;
    text-align: left;
    font-family: 'Libre Caslon Text', serif;
}

#Industrial {
    color: blue;
    text-align: left;
    font-family: 'Libre Caslon Text', serif;
}

#Design {
    color: blue;
    text-align: left;
    font-family: 'Libre Caslon Text', serif;
}

.imageheader {
    background: url(../images/apple-logo-5.png) no-repeat;
    margin-left: 8.5rem;
    width: 400vw;
    background-position: 25rem;
}

li, #navigation {
    display: inline-block;
    font-size: large;
    align-content: stretch;
    margin-left: 5rem;     
}

a:link {
    color: white;
    text-decoration: none;
}

#iphone {
    font-size: medium;
    display: list-item;
    margin-left: 9rem;
    margin-right: 20rem;
}

#ipod {
    font-size: medium;
    display: list-item;
    margin-left: 9rem;
    margin-right: 20rem;
}

#macbook {
    font-size: medium;
    display: list-item;
    margin-left: 9rem;
    margin-right: 20rem;
}


#jonyiveintro {
    margin-left: 10rem;
    margin-right: 20rem;
}

h2 {
    text-align: left;
    margin-left: 10rem;
}

p {
    margin-left: 10rem;
    margin-right: 20rem;
}

