body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2rem;
}

h1{ 
    text-align: left;
    margin-left: 1rem;
    font-size: 4rem;
    font-family: 'Libre Caslon Text', serif;
    line-height: 3.5rem;
}
#Howdid {
    text-align: left;
    color: white;
    font-family: 'Libre Caslon Text', serif;
}

#JonyIves {
    color: #00C2FF;
    text-align: left;
    font-family: 'Libre Caslon Text', serif;
    position: relative;
}

#Thefieldof {
    color: white;
    text-align: left;
    font-family: 'Libre Caslon Text', serif;
}

#Industrial {
    color: #00C2FF;
    text-align: left;
    font-family: 'Libre Caslon Text', serif;
}

#Design {
    color: #00C2FF;
    text-align: left;
    font-family: 'Libre Caslon Text', serif;
}

.imageheader {
    background: url(../images/apple-logo-nine.png) no-repeat;
    margin-left: 8.5rem;
    width: 400vw;
    background-position: 30rem;
}

li, #navigation {
    display: inline-block;
    font-size: large;
    align-content: stretch;
    margin-left: 5rem;     
}

a:link {
    color: white;
    text-decoration: none;
}

#iphone {
    font-size: 1rem;
    display: list-item;
    margin-left: 9rem;
    margin-right: 20rem;
}

#ipod {
    font-size: 1rem;
    display: list-item;
    margin-left: 9rem;
    margin-right: 20rem;
}

#macbook {
    font-size: 1rem;
    display: list-item;
    margin-left: 9rem;
    margin-right: 20rem;
}


#jonyiveintro {
    margin-left: 10rem;
    margin-right: 20rem;
    line-height: 2rem;
}

h2 {
    text-align: left;
    margin-left: 10rem;
    font-size: 2rem;
}

p {
    margin-left: 10rem;
    margin-right: 20rem;
    font-size: 1rem;
    line-height: 2rem;
}

#thinnest {
    margin-left: 10rem;
    margin-right: 18rem;
    font-size: 3rem;
    line-height: 5rem;
}

#men {
    margin-left: 10rem;
}

#techworld {
    margin-left: 10rem;
    font-size: 4.5rem;
    margin-right: 18rem;
    line-height: 6rem;
}

#jonyivephoto {
    margin-left: 10rem;
}

