.whoisjony {
    rotate: 270deg;
    margin-left: -70rem;
    position: relative;
    transform:translate(31rem);
}

.industrialdesigntitle{
    rotate: 270deg;
    margin-left: -70rem;
    position: relative;
    transform: translate(11rem);
    color: black;
}

.styleofdesigntitle {
    rotate: 270deg;
    margin-left: -70rem;
    position: relative;
    transform: translate(31.5rem);
    color: black;
}

.revolutionarytitle {
    rotate: 270deg;
    margin-left: -70rem;
    position: relative;
    transform: translate(30rem);
}

.conclusiontitle {
    rotate: 270deg;
    margin-left: -70rem;
    position: relative;
    transform: translate(46rem);
}

#hr1 {
    width: 100vw;
    max-width: 1500px;
    margin-left: -9rem;
    transform: translateY(9rem);
    height: 4px;
    color: #00C2FF;
    background-color: #00C2FF;
    border: 0 none;
}

#hr2 {
    rotate: 270deg;
    width: 180vw;
    max-width: 1600px;
    left: -44rem;
    transform: translateX(-58.4rem);
    position: relative;
    margin-right: 10rem;
    height: 4px;
    color: #00C2FF;
    background-color: #00C2FF;
    border: 0 none;
}


#hr3 {
    rotate: 270deg;
    width: 100vw;
    position: relative;
    max-width: 1460px;
    left: -39rem;
    bottom: -70rem;
    transform: translateY(8.5rem);
    margin-right: 10rem;
    height: 4px;
    color: #00C2FF;
    background-color: #00C2FF;
    border: 0 none;
}

#hr33 {
    rotate: 270deg;
    width: 100vw;
    max-width: 1460px;
    position: relative;
    left: -39rem;
    bottom: -170rem;
    transform: translateY(8.5rem);
    margin-right: 10rem;
    height: 4px;
    color: #00C2FF;
    background-color: #00C2FF;
    border: 0 none;
}

#hr4 {
    rotate: 270deg;
    width: 100vw;
    position: relative;
    max-width: 1460px;
    left: -39rem;
    bottom: -141.1rem;
    transform: translateY(8.5rem);
    margin-right: 10rem;
    height: 4px;
    color: #00C2FF;
    background-color: #00C2FF;
    border: 0 none;
}

#hr5 {
    rotate: 270deg;
    width: 100vw;
    position: relative;
    max-width: 1460px;
    left: -39rem;
    bottom: -90rem;
    transform: translateY(8.5rem);
    margin-right: 10rem;
    height: 4px;
    color: #00C2FF;
    background-color: #00C2FF;
    border: 0 none;
}

#hr6 {
    rotate: 270deg;
    width: 100vw;
    position: relative;
    max-width: 1460px;
    left: -39rem;
    bottom: -53.6rem;
    transform: translateY(8.5rem);
    margin-right: 10rem;
    height: 4px;
    color: #00C2FF;
    background-color: #00C2FF;
    border: 0 none;
}

#hr7 {
    rotate: 270deg;
    width: 100vw;
    position: relative;
    max-width: 1460px;
    left: -39rem;
    bottom: 120rem;
    transform: translateY(8.5rem);
    margin-right: 10rem;
    height: 4px;
    color: #00C2FF;
    background-color: #00C2FF;
    border: 0 none;
}

#hr8 {
    rotate: 270deg;
    width: 100vw;
    position: relative;
    max-width: 1460px;
    left: -39rem;
    bottom: 44.5rem;
    transform: translateY(8.5rem);
    margin-right: 10rem;
    height: 4px;
    color: #00C2FF;
    background-color: #00C2FF;
    border: 0 none;
}

#hr9 {
    rotate: 270deg;
    width: 100vw;
    position: relative;
    max-width: 1460px;
    left: -39rem;
    top: 40rem;
    transform: translateY(8.5rem);
    margin-right: 10rem;
    height: 4px;
    color: #00C2FF;
    background-color: #00C2FF;
    border: 0 none;
}

#hr10 {
    rotate: 270deg;
    width: 100vw;
    position: relative;
    max-width: 1460px;
    left: -39rem;
    bottom: 80rem;
    transform: translateY(8.5rem);
    margin-right: 10rem;
    height: 4px;
    color: #00C2FF;
    background-color: #00C2FF;
    border: 0 none;
}

#hr11 {    
    rotate: 270deg;
    width: 100vw;
    position: relative;
    max-width: 1460px;
    left: -39rem;
    bottom: 43rem;
    transform: translateY(8.5rem);
    margin-right: 10rem;
    height: 4px;
    color: #00C2FF;
    background-color: #00C2FF;
    border: 0 none;
}

#hr12 {
    rotate: 270deg;
    width: 100vw;
    position: relative;
    max-width: 1460px;
    left: -39rem;
    bottom: 120rem;
    transform: translateY(8.5rem);
    margin-right: 10rem;
    height: 4px;
    color: #00C2FF;
    background-color: #00C2FF;
    border: 0 none;
}

#hr17 {
    rotate: 270deg;
    width: 100vw;
    position: relative;
    max-width: 1460px;
    left: -30.5rem;
    bottom: 200rem;
    transform: translate(10rem);
    margin-right: 10rem;
    height: 4px;
    color: #00C2FF;
    background-color: #00C2FF;
    border: 0 none;
}

#hr14 {
    rotate: 270deg;
    width: 180vw;
    max-width: 1600px;
    left: -44rem;
    transform: translateX(-100rem);
    position: relative;
    margin-right: 10rem;
    height: 4px;
    color: #00C2FF;
    background-color: #00C2FF;
    border: 0 none;
}

#hr13 {
    rotate: 270deg;
    width: 100vw;
    position: relative;
    max-width: 1000px;
    left: -41.5rem;
    top: -28.5rem;
    transform: translateY(8.5rem);
    margin-right: 10rem;
    height: 4px;
    color: #00C2FF;
    background-color: #00C2FF;
    border: 0 none;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2rem;
}

h1{ 
    text-align: left;
    margin-left: 1rem;
    font-size: 5rem;
    font-family: 'Libre Caslon Text', serif;
    line-height: 4.5rem;
    margin-bottom: 3rem;
}
#Howdid {
    text-align: left;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#JonyIves {
    color: #00C2FF;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

#Thefieldof {
    color: white;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

#Industrial {
    color: #00C2FF;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

#Designtitle {
    color: #00C2FF;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.imageheader {
    background: url(../images/Saval-Jony-Ive-two.png) no-repeat;
    margin-left: 8.5rem;
    background-position: 600px;
    background-position-y: -2rem;
    margin-bottom: 4rem;
    width: 100%;
}



li, #navigation {
    display: inline-block;
    font-size: large;
    align-content: stretch;
    margin-left: 5rem;     
}

a:visited {
    color: white;
}

a:link {
    color: white;
    text-decoration: none;
}

#iphone {
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: 20rem;
    line-height: 5rem;
    transform: translateY(8.5rem);
}

#ipod {
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: 20rem;
    line-height: 5rem;
    transform: translateY(8.5rem);
}

#macbook {
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: 20rem;
    line-height: 5rem;
    transform: translateY(8.5rem);
}


#jonyiveintro {
    margin-left: 18rem;
    margin-right: 15rem;
    line-height: 4rem;
}

h2 {
    text-align: left;
    margin-left: 18rem;
    font-size: 3rem;
}

p {
    margin-left: 18rem;
    margin-right: 13rem;
    font-size: 2rem;
    line-height: 4rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

#thinnest {
    margin-left: 18rem;
    margin-right: 20rem;
    font-size: 2rem;
    line-height: 3rem;
    text-align-last: center;
    background-color: white;
    color: black;
    margin-bottom: 2rem;
}

#men {
    margin-left: 18rem;
}

.blockquote1 {
    margin-top: 3rem;
}

#techworld {
    margin-left: 18rem;
    font-size: 4rem;
    margin-right: 20rem;
    line-height: 4rem;
    margin-bottom: -2rem;
    margin-top: -2rem;
}

#jonyivephoto {
    margin-left: 18rem;
    position: relative;
    width: 70vw;
    margin-bottom: -17rem;
}

.industrialdesignsection {
    background-color: white;
    color: black;
    margin-top: 20rem;
    margin-right: -8rem;
    margin-bottom: 7rem;
}

#industriald1 {
    transform: translateY(3.5rem);
    color: black;
}

#jonyindustrial {
    width: 70vw;
    margin-left: 17.8rem;
    margin-top: 2rem;
    margin-bottom: -1rem;
}

.styleofdesignsection {
    background-color: white;
    color: black;
    line-height: 4rem;
}

#bauhaus {
    margin-left: 18rem;
    width: 60vw;
}

#imacstyle {
    margin-left: 18rem;
    width: 60vw;
}

.revolutionarydesign {
    margin-top: -7rem;
}

#apple-logo2 {
    width: 80vw;
    margin-bottom: -8rem;
    margin-top: -2rem;
}

#ipodlaunch {
    margin-left: 18rem;
    width: 70vw;
    margin-bottom: -8rem;
    margin-top: -2rem;
}

#iphonebackground {
    margin-left: 18rem;
    width: 60vw;
    margin-bottom: -8rem;
    margin-top: -2rem;
}

#imacbackground {
    margin-left: 18rem;
    width: 70vw;
}

.jonyivesection {
    line-height: 5rem;
    margin-bottom: -9.59rem;
    margin-top: 1rem;
    border-left: blue;
    border-width: thick;
}

.hr {
    width: 50vw;
    margin-right: 20rem;
    margin-top: 10rem;
}

.conclusionsection {
    background-color: black;
    color: white;
    line-height: 4rem;
    margin-top: -7rem;
}

.thinmac {
    background-color: white;
    color: black;
    margin-top: 2rem;
}

.references {
    margin-left: 11rem;
    margin-right: 25rem;
    margin-top: 5rem;
    color: black;
    text-decoration-color: black;
}

.linktowork {
    margin-left: 18rem;
    text-decoration: none;
    margin-top: 5rem;
}


.referencesection {
    background-color: grey;
    color: black;
    line-height: 4rem;
}

.referencesection{
    color: white;
}